body {
  margin: 10px 0 0;
  padding: 0;
  background: darkseagreen;
}

.app {
  max-width: 900px;
  background: darkslategrey;
  margin: 0 auto;
  color: bisque;
  padding: 20px 10px;
  box-shadow: 10px 8px 7px rgba(0,0,0, .3);
}

.forma {
  margin: 0 5px 20px 5px;
  padding: 10px 0;
}